/**************** body and tag styles ****************/
	body {
	  color: #303030;
	  font: .74em Arial, Verdana, sans-serif;
	  line-height: 1.6em;
	  margin: 2.5em 0;
	  margin-top: 0px;	  
	  margin-bottom: 30px;
	  }

	#container {
	  width: 1250px;
	  margin: 0 auto;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  line-height: 1.6em;	
	  color: #666666;
	  background-color: #FFFFFF;
	  }
	  
	#container2 {
	  width: 1250px;
	  margin: 0 auto;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  line-height: 1.6em;
	  color: #666666;
	  background-color: #FFFFFF;
	  border-bottom: 2px solid #0078c9;
	  }
		
	h1 {
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-weight: normal;
	  font-size: 32px;
	  color: #0078c9;
	  margin-bottom: 30px;
	  background-color: #FFFFFF;
	  }
		
	h2 {
	  color: #666666;
	  font-size: 16px;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #FFFFFF;
	  }
	  
	h3{
	  color: #666666;
	  font-size: 16px;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color: #FFFFFF;
	}
	
	a {
	  color: inherit;
	  background-color: none;
	  text-decoration: none;
	  }

	a:hover {
	  background-color: none;
	  color: inherit;	  	  
	  }
	
	a.appButton {
	  font: bold 14px Arial;
	  text-decoration: none;
	  background-color: #EEEEEE;
	  color: #333333;
	  padding: 2px 6px 2px 6px;
	  border-top: 1px solid #CCCCCC;
	  border-right: 1px solid #333333;
	  border-bottom: 1px solid #333333;
	  border-left: 1px solid #CCCCCC;	
	}
	a.appButton:hover{
	  color: #FFFFFF;
	  background-color: grey;
	}

	.removeButton {
	  transition: all .2s ease-in-out; 
	}
	.removeButton:hover {
	  transform: scale(2.2);
	} 	
	
/**************** images styles ****************/		
	a img{
	  border: none;
	}

	img.left,img.center,img.right {
	  padding: 0px;	  
	}

	img.left {
	  float: left;
	  padding: 5px 5px 5px 5px;
	}

	img.center {
	  display: block;
	  margin: 0 auto 5px auto;
	}

	img.right {
	  float: right;
	  margin: 0 0 5px 12px;
	}

	.laundryImage {
	  transition: all .2s ease-in-out; 
	}
	.laundryImage:hover {
	  transform: scale(3.9);	  
	} 	  
	.laundryImageSearch {
	  transition: all .2s ease-in-out; 
	}
	.laundryImageSearch:hover {
	  transform: scale(6.8);	  
	} 	
	
	.roundCornerLaundryImage {
	  border-radius: 15px;    
	  padding: 5px; 
	  width: 150px;
	  height: 180px; 
	}
	
	.roundCornerLaundryImageSearch {
	  border-radius: 10px;    
	  padding: 5px; 
	  width: 70px;
	  height: 100px; 
	}
	  
/**************** header styles ****************/
	#header {
	  width: 1250px;
	  border: 0px
	  padding-bottom: 10px;
	  padding-top: 10px;
	  clear: both;
	  }
	  
	#header a:hover {
	  text-decoration: none;
	}
	
	#header p { 
	  margin-top: -20px;
	  margin-left: 0px;
	  color: #999999;
	  }

/**************** content styles ****************/
	#content {
	  width: 1250px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-top: 10px;
	  float: right;
	  text-align: justify;
	  font-size: 11px;
	  }
		
	#content p {
	  padding-bottom: 10px;
	  }
	  
/**************** footer styles ****************/
	#footer {
	  margin-top: 15px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  padding-left: 2px;
	  padding-right: 2px;
	  clear: both;
	  width: 1250px;
	  background-color:#0078c9;
	  }
		
	#footer p {
	  color:#FFFFFF;
	  padding: 5px;
	  text-align: center;
	  }
		
	#footer p a {
	  color: #FFFFFF;
	  background-color:#0078c9;
	  font-weight:100;
	  border-bottom: 1px dotted #FFFFFF;
	  }
		
	#footer p a:hover {
	  color: #FFFFFF;
	  text-decoration: none;
	  border-top: 1px dotted #FFFFFF;
	  border-bottom: 0px dotted #FFFFFF;
	  }
	  
/**************** table styles ****************/
	  table {
		font-size:small;		
	  }

	  th {
		background-color: #A9A9A9;
	  }	
	
	  tr.rowhighlight{
		background-color: #FFFFFF;
	  }

	  tr.rowhighlight:hover{
		background-color: #D3D3D3;
		cursor: pointer;
	  }

	  table.nogap{
        border: 1px solid #D3D3D3;
		border-spacing: 2px;
	  }